/* Definições globais*/

@charset "utf-8";

/* Fontes */

*{
    font-family: "Times New Roman", Times, serif, sans-serif;
}

/* Paleta de cores */

.bg-primary-color{
    background-color: #0152af;
}

.primary-color{
    color: white;
}

.secondary-color{
    color: #7a7a7a;
}

/* Navbar*/

#navbar a:hover{
    color: #a0abca;
}

#navbar a.active{
    border-bottom: 1px solid white;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 50px;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 3em;
}

/* Body */

body {
    background-color: #cae4fa;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
 
#titulo{
    margin: 0 auto;
width: 50%; 
font-size: 60px;
margin-left: 570px;
}



#botao{
    margin: 0 auto;
    width: 10%; 
    font-size: 15px;
    margin-top: 350px;
    margin-left: 630px;
   
}
 
#form-2{
    margin: 0 auto;
    width: 50%; 
    font-size: 20px;
    margin-top: 70px;
    margin-left: 175px;
}

#form-cadastro{
    margin: 0 auto;
    width: 50%; 
    font-size: 20px;
    margin-top: 20px;
    margin-left: 350px;
    height: 60px;
}

/* Footer */

#footer{
 position:fixed; 
        bottom: 0;
        color: white;
        width: 100%;
        height: 70px; 
        background-color: #0152af;
        margin-left: -1px;
      }






